<div class="modal fade" id="add-member-orgz" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "namespace_admin.add_member" %></h4>
      </div>
      <%= form_tag admin_organization_user_clubs_path(club_id: @club.slug), method: :post do %>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-search">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="input-group">
                    <%= text_field_tag :search_user, nil, placeholder: t("edit_member.search_member"),
                      class: "form-control input-search" %>
                    <span class="input-group-btn">
                      <%= button_tag "", class: "btn btn-primary" do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mrg-left-15 pad-5 pull-left checkbox add-all-funtion ui-block">
              <label>
                <input type="checkbox" class="check-all-cb" value="false">
                <%= t "namespace_admin.check_all" %>
              </label>
            </div>
            <div class="widget-simple list-scroll">
              <div class="table-scroll-sm">
                <table class="table ui-block table-pricing results table-align-left results">
                  <tbody>
                    <% if @support.user_not_join.any? %>
                      <% @support.user_not_join.each do |user| %>
                        <tr class="add-user-member">
                          <td class="check-user">
                            <%= check_box_tag("user_ids[]", user.id, false, class: "checkbox") %>
                          </td>
                          <td>
                            <%= user.full_name %>
                          </td>
                          <td>
                            <%= user.email %>
                          </td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr class="text-center">
                        <td colspan="4">
                          <h3 class="center notifi-empty"><%= t "empty" %></h3>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag t("namespace_admin.submit"), class: "btn btn-success" %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <%= t "close" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
