<div class="table-responsive">
  <table id="example-datatable"
    class="table table-vcenter table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center"><%= t "no" %></th>
        <th class="text-center"><i class="gi gi-user"></i></th>
        <th><%= t "user_name" %></th>
        <th><%= t "email" %></th>
        <th><%= t "content" %></th>
        <th class="text-center"><%= t "type" %></th>
      </tr>
    </thead>
    <tbody>
      <% @feed_backs.each.with_index(Settings.one) do |feed_back, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= image_tag feed_back.user.avatar, class: "img-responsive img-budgets-member" %></td>
          <td><%= feed_back.user.full_name %></td>
          <td><%= feed_back.user.email %></td>
          <td><%= feed_back.description %></td>
          <td><%= feed_back.type_feed_back %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @feed_backs, remote: true  %>
</div>
