<div class="modal-dialog ui-block window-popup private-event user-event-join"
  id="modal-list-member">
  <h4 class="title text-center"><%= t "member_has_join" %></h4>
  <%= button_tag type: "button", class: "close close-modal", data: {dismiss: "modal"} do %>
    &times;
  <% end %>
  <div class="content-list modal-body row load-member">
    <div class="widget-simple list-scroll">
      <div class="table-responsive">
        <table class="table ui-block table-pricing results">
          <tbody>
            <% if @members.any? %>
              <%= form_tag club_event_user_event_path(
                event_id: @event.id, id: @members.first.id), method: :delete, id: "form-delete-member-event" do %>
                <% @members.each do |member| %>
                  <tr class="member-<%= member.id %>">
                    <td>
                      <div class="col-md-1 avarta-memeber">
                        <%= link_to user_path(member.id) do %>
                          <%= image_tag member.avatar, class: "member-organization-view view-avt-member",
                            title: "#{member.full_name}" %>
                        <% end %>
                      </div>
                    </td>
                    <td>
                      <%= member.full_name %>
                    </td>
                    <td>
                      <%= member.email %>
                    </td>
                    <% if @club.is_admin? current_user %>
                      <td class="check-user">
                        <%= check_box_tag("member_ids[]", member.id, false, class: "checkbox") %>
                      </td>
                      <td>
                        <%= link_to club_event_user_event_path(event_id: @event.id, member_id: member.id), method: :delete, remote: true, title: t("delete_member"),
                          data: {confirm: t("answer_delete_member")} do %>
                          <i class="fa fa-remove"></i>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr class="text-center">
                <td colspan="4">
                  <h3 class="center notifi-empty"><%= t "empty" %></h3>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <% if @club.is_admin? current_user %>
      <strong>
        <%= link_to "",
          class: "animation-fadeIn360 pull-left", id: "detail-members", title: t("add_member_join") do %>
          <i class="fa fa-pencil-square-o"></i><%= t "add_member_join" %>
        <% end %>
      </strong>
      <button type="button" class="btn btn-sm btn-breez" id="js-btn-delete-members">
        <%= t "delete" %>
      </button>
    <% end %>
    <button type="button" class="btn btn-sm button-more" data-dismiss="modal">
      <%= t "close" %>
    </button>
  </div>
</div>
