<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 tab_detail_club">
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <div class="tab-in-activity">
        <div class="row">
          <ul class="profile-menu">
            <li>
              <%= link_to t(".system"), "#settings-system",
                class: "w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red" %>
            </li>
            <li>
              <%= link_to t(".money_support"), "#money-supports",
                class: "w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" %>
            </li>
            <li>
              <%= link_to t(".range_support"), "#range-supports",
                class: "w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="pull-right funtion-request">
        <%= link_to organization_path(@organization), remote: :true,
          class: "btn btn-primary btn-sm button-back" do %>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <%= t "back" %>
        <% end %>
      </div>
    </div>
    <div id="list-event-show-notification">
      <div id="settings-system" class="event-table">
        <%= render "settings_system" %>
      </div>
      <div id="money-supports" class="event-table hide-div">
        <%= render "money_supports/list_money_supports" %>
      </div>
      <div id="range-supports" class="event-table hide-div">
        <%= render "range_supports/list_range_supports" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "tabs" %>
