<%= paginator.render do -%>
  <div class="dataTables_paginate paging_bootstrap"
    id="example-datatable_paginate">
    <ul class="pagination pagination-sm remove-margin">
      <%= first_page_tag if is_display_first_page?(current_page, total_pages) %>
      <%= prev_page_tag unless current_page.first? %>
      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>
      <% unless current_page.out_of_range? %>
        <%= next_page_tag unless current_page.last? %>
        <%= last_page_tag if is_display_last_page?(current_page, total_pages) %>
      <% end %>
    </ul>
  </div>
<% end -%>
