<tr class="evaluate-<%= evaluate.id %>">
  <td class="text-center">
    <div class="avarta-memeber">
      <%= link_to user_path(evaluate.user.id) do %>
        <%= image_tag evaluate.user_avatar, class: "member-organization-view view-avt-member",
          title: "#{evaluate.user_full_name}" %>
      <% end %>
      <label class="mgr-left-10"><%= evaluate.user_full_name %></label>
    </div>
  </td>
  <td class= "text-center type-name ">
    <%= evaluate.time %>/<%= evaluate.year %>
  </td>
  <td class="text-center">
    <%= l evaluate.created_at, format: :short %>
  </td>
  <td class="text-center">
    <%= evaluate.total_points %>
  </td>
  <td class="text-center">
    <%= link_to setting_club_path(id: @club.slug, hide: true,
      time: evaluate.time, year: evaluate.year), remote: true,
      class: "btn btn-breez btn-bottom-0" do %>
      <%= number_to_currency evaluate.money_support_club&.money, locale: :vi %>
    <% end %>
  </td>
  <td class="text-center">
    <% if can? :read, evaluate %>
      <%= link_to club_evaluate_path(club_id: @club.slug, id: evaluate.id),
        title: t("info"), remote: :true, class: "btn btn-warning btn-bottom-0" do %>
        <i class="fa fa-info"></i>
      <% end %>
    <% end %>
    <% if can? :manage, evaluate %>
      <%= link_to edit_club_evaluate_path(club_id: @club.slug, id: evaluate.id),
        title: t("edit"), remote: :true, class: "btn btn-primary btn-bottom-0" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to club_evaluate_path(club_id: @club.slug, id: evaluate.id), method: :delete, title: t("delete"),
        data: {confirm: t("confirm_delete_type")}, remote: true,
        class: "btn btn-danger btn-bottom-0" do %>
        <i class="fa fa-remove"></i>
      <% end %>
    <% end %>
  </td>
</tr>
<div id="config-club" class="modal fade" role="dialog">
</div>
