<tr class="member-<%= member.id %>">
  <td><%= image_tag member.user_avatar,
    class: "img-responsive img-budgets-member" %></td>
  <td><%= member.user_full_name %></td>
  <td><%= member.user_email %></td>
  <td><%= l member.updated_at, format: :short %></td>
  <td><%= member.user_phone %></td>
  <td class="center">
    <h6 class="center">
      <%= link_to admin_organization_user_organizations_path(id: member.id,
        organization_id: @organization.slug), method: :post,
        title: t("namespace_admin.confirm_rq"), remote: true,
        data: {confirm: t("namespace_admin.confirm_rq")} do %>
        <i class="fa fa-check-square-o btn btn-primary"></i>
      <% end %>
      <%= link_to admin_organization_user_organization_path(id: member.id,
        organization_id: @organization.slug), method: :delete,
        title: t("delete_member"), remote: true,
        data: {confirm: t("answer_delete_member")} do %>
        <i class="fa fa-remove btn btn-default"></i>
      <% end %>
    </h6>
  </td>
</tr>
